@import '~node_modules/modern-normalize/modern-normalize.css';

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;

    background-color: var(--bg-color--bright);
    color: var(--text-color--dark);
}

ul,
ol {
    padding: 0;
    margin: 0;

    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

