@import './utils/vars';
@import './utils/mixins';
@import './utils/visually-hidden';

@import './base/common';
@import './base/section';

@import './layout/header';
@import './layout/main';
@import './layout/footer';

@import './components/backdrop';
@import './components/modal--details';
@import './components/modal--team';
@import './components/spinner';
@import './components/pagination';
