<div class="backdrop">
  <div id="auth-modal" data-auth-modal>
    <svg class="auth-modal-close" width="30" height="30" data-auth-modal-close>
      <use href="./images/symbol.svg#icon-modal-close"></use>
    </svg>

    <form class="auth-form">
      <b class="auth-modal-capture">Login with Firebase</b>
      <label class="auth-form-label">
        <span class="auth-form-text">E-mail</span>
        <input class="auth-form-input" type="text" id="email" name="email" />
      </label>
      <label class="auth-form-label">
        <span class="auth-form-text">Password</span>
        <input
          class="auth-form-input"
          type="password"
          id="password"
          name="password"
        />
      </label>
      <!-- <div id="login-err" class="group">
      <div id="login-err-message" class="err-label">Error message</div>
    </div> -->
      <div class="auth-btn-wrapper">
        <button
          class="auth-form-btn"
          type="button"
          id="login-btn"
          name="login_btn"
        >
          Login
        </button>

        <button
          class="auth-form-btn"
          type="button"
          id="signup-btn"
          name="signup_btn"
        >
          Sign in
        </button>
      </div>
    </form>
  </div>
</div>
