<footer class="footer">
  <div class="footer-container">
    <p class="footer-text">&copy; 2023 | All Rights Reserved |</p>
    <div class="text-wrapper">
      <p>
        Developed with
        <svg class="footer-icon" width="14" height="12.88">
          <use href="/src/images/symbol.svg#heart"></use>
        </svg>
        by&nbsp;
      </p>
      <button data-modal-open class="footer-button" type="button">
        <span class="footer-text">GoIT Students</span>
      </button>
    </div>
  </div>
</footer>
