<section class="section">
  <div class="container">
    <h2 class="visually-hidden">MAIN</h2>
    <ul class="movies">
      <!-- <li class="movies__item">
        <div class="movies__wrapper">
          <picture>
            <source
              srcset="
                ./images/main-home/poster-filler-desktop.jpeg    1x,
                ./images/main-home/poster-filler-desktop@2x.jpeg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/main-home/poster-filler-tablet.jpeg    1x,
                ./images/main-home/poster-filler-tablet@2x.jpeg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/main-home/poster-filler-mob.jpeg    1x,
                ./images/main-home/poster-filler-mob@2x.jpeg 2x
              "
              media="(min-width: 280px)"
            />
            <img
              loading="lazy"
              class="movies__poster"
              src="./images/main-home/poster-filler-mob.jpeg"
              alt="movies__poster"
            />
          </picture>
        </div>
        <div class="movies__meta">
          <h2 class="movies__title">Monster Hunter</h2>
          <div class="movies__desc">
            <span class="movies__desc-genres">Drama, Action</span>|
            <span class="movies__desc-release-year">2020</span>
          </div>
        </div>
      </li>

      <li class="movies__item">
        <div class="movies__wrapper">
          <picture>
            <source
              srcset="
                ./images/main-home/poster-filler-desktop.jpeg    1x,
                ./images/main-home/poster-filler-desktop@2x.jpeg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/main-home/poster-filler-tablet.jpeg    1x,
                ./images/main-home/poster-filler-tablet@2x.jpeg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/main-home/poster-filler-mob.jpeg    1x,
                ./images/main-home/poster-filler-mob@2x.jpeg 2x
              "
              media="(min-width: 280px)"
            />
            <img
              loading="lazy"
              class="movies__poster"
              src="./images/main-home/poster-filler-mob.jpeg"
              alt="movies__poster"
            />
          </picture>
        </div>
        <div class="movies__meta">
          <h2 class="movies__title">Monster Hunter</h2>
          <div class="movies__desc">
            <span class="movies__desc-genres">Drama, Action</span>|
            <span class="movies__desc-release-year">2020</span>
          </div>
        </div>
      </li>

      <li class="movies__item">
        <div class="movies__wrapper">
          <picture>
            <source
              srcset="
                ./images/main-home/poster-filler-desktop.jpeg    1x,
                ./images/main-home/poster-filler-desktop@2x.jpeg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/main-home/poster-filler-tablet.jpeg    1x,
                ./images/main-home/poster-filler-tablet@2x.jpeg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/main-home/poster-filler-mob.jpeg    1x,
                ./images/main-home/poster-filler-mob@2x.jpeg 2x
              "
              media="(min-width: 280px)"
            />
            <img
              loading="lazy"
              class="movies__poster"
              src="./images/main-home/poster-filler-mob.jpeg"
              alt="movies__poster"
            />
          </picture>
        </div>
        <div class="movies__meta">
          <h2 class="movies__title">Monster Hunter</h2>
          <div class="movies__desc">
            <span class="movies__desc-genres">Drama, Action</span>|
            <span class="movies__desc-release-year">2020</span>
          </div>
        </div>
      </li>

      <li class="movies__item">
        <div class="movies__wrapper">
          <picture>
            <source
              srcset="
                ./images/main-home/poster-filler-desktop.jpeg    1x,
                ./images/main-home/poster-filler-desktop@2x.jpeg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/main-home/poster-filler-tablet.jpeg    1x,
                ./images/main-home/poster-filler-tablet@2x.jpeg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/main-home/poster-filler-mob.jpeg    1x,
                ./images/main-home/poster-filler-mob@2x.jpeg 2x
              "
              media="(min-width: 280px)"
            />
            <img
              loading="lazy"
              class="movies__poster"
              src="./images/main-home/poster-filler-mob.jpeg"
              alt="movies__poster"
            />
          </picture>
        </div>
        <div class="movies__meta">
          <h2 class="movies__title">Monster Hunter</h2>
          <div class="movies__desc">
            <span class="movies__desc-genres">Drama, Action</span>|
            <span class="movies__desc-release-year">2020</span>
          </div>
        </div>
      </li>

      <li class="movies__item">
        <div class="movies__wrapper">
          <picture>
            <source
              srcset="
                ./images/main-home/poster-filler-desktop.jpeg    1x,
                ./images/main-home/poster-filler-desktop@2x.jpeg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/main-home/poster-filler-tablet.jpeg    1x,
                ./images/main-home/poster-filler-tablet@2x.jpeg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/main-home/poster-filler-mob.jpeg    1x,
                ./images/main-home/poster-filler-mob@2x.jpeg 2x
              "
              media="(min-width: 280px)"
            />
            <img
              loading="lazy"
              class="movies__poster"
              src="./images/main-home/poster-filler-mob.jpeg"
              alt="movies__poster"
            />
          </picture>
        </div>
        <div class="movies__meta">
          <h2 class="movies__title">Monster Hunter</h2>
          <div class="movies__desc">
            <span class="movies__desc-genres">Drama, Action</span>|
            <span class="movies__desc-release-year">2020</span>
          </div>
        </div>
      </li>

      <li class="movies__item">
        <div class="movies__wrapper">
          <picture>
            <source
              srcset="
                ./images/main-home/poster-filler-desktop.jpeg    1x,
                ./images/main-home/poster-filler-desktop@2x.jpeg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/main-home/poster-filler-tablet.jpeg    1x,
                ./images/main-home/poster-filler-tablet@2x.jpeg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/main-home/poster-filler-mob.jpeg    1x,
                ./images/main-home/poster-filler-mob@2x.jpeg 2x
              "
              media="(min-width: 280px)"
            />
            <img
              loading="lazy"
              class="movies__poster"
              src="./images/main-home/poster-filler-mob.jpeg"
              alt="movies__poster"
            />
          </picture>
        </div>
        <div class="movies__meta">
          <h2 class="movies__title">Monster Hunter</h2>
          <div class="movies__desc">
            <span class="movies__desc-genres">Drama, Action</span>|
            <span class="movies__desc-release-year">2020</span>
          </div>
        </div>
      </li> -->
    </ul>
    <div id="pagination" class="tui-pagination"></div>
  </div>
</section>
