<section class="section">
  <div class="container">
    <h2 class="visually-hidden">MAIN MY LIBRARY</h2>
    <div class="backdrop is-hidden">
      <div class="spinner"></div>
    </div>
    <ul class="movies">
      <li class="movies__item">
        <div class="movies__wrapper">
          <img
            loading="lazy"
            class="movies__poster"
            src="/src/images/mobile-poster-filler.jpeg"
            alt="movies__poster"
          />
        </div>
        <div class="movies__meta">
          <h2 class="movies__title">Monster Hunter</h2>
          <div class="movies__desc">
            <span class="movies__desc-genres">Drama, Action</span>|
            <span class="movies__desc-release-year">2020</span>
            <span class="movies__vote">8.3</span>
          </div>
        </div>
      </li>

      <li class="movies__item">
        <div class="movies__wrapper">
          <img
            loading="lazy"
            class="movies__poster"
            src="/src/images/mobile-poster-filler.jpeg"
            alt="movies__poster"
          />
        </div>
        <div class="movies__meta">
          <h2 class="movies__title">Monster Hunter</h2>
          <div class="movies__desc">
            <span class="movies__desc-genres">Drama, Action</span>|
            <span class="movies__desc-release-year">2020</span>
            <span class="movies__vote">8.3</span>
          </div>
        </div>
      </li>

      <li class="movies__item">
        <div class="movies__wrapper">
          <img
            loading="lazy"
            class="movies__poster"
            src="/src/images/mobile-poster-filler.jpeg"
            alt="movies__poster"
          />
        </div>
        <div class="movies__meta">
          <h2 class="movies__title">Monster Hunter</h2>
          <div class="movies__desc">
            <span class="movies__desc-genres">Drama, Action</span>|
            <span class="movies__desc-release-year">2020</span>
            <span class="movies__vote">8.3</span>
          </div>
        </div>
      </li>

      <li class="movies__item">
        <div class="movies__wrapper">
          <img
            loading="lazy"
            class="movies__poster"
            src="/src/images/mobile-poster-filler.jpeg"
            alt="movies__poster"
          />
        </div>
        <div class="movies__meta">
          <h2 class="movies__title">Monster Hunter</h2>
          <div class="movies__desc">
            <span class="movies__desc-genres">Drama, Action</span>|
            <span class="movies__desc-release-year">2020</span>
            <span class="movies__vote">8.3</span>
          </div>
        </div>
      </li>

      <li class="movies__item">
        <div class="movies__wrapper">
          <img
            loading="lazy"
            class="movies__poster"
            src="/src/images/mobile-poster-filler.jpeg"
            alt="movies__poster"
          />
        </div>
        <div class="movies__meta">
          <h2 class="movies__title">Monster Hunter</h2>
          <div class="movies__desc">
            <span class="movies__desc-genres">Drama, Action</span>|
            <span class="movies__desc-release-year">2020</span>
            <span class="movies__vote">8.3</span>
          </div>
        </div>
      </li>

      <li class="movies__item">
        <div class="movies__wrapper">
          <img
            loading="lazy"
            class="movies__poster"
            src="/src/images/mobile-poster-filler.jpeg"
            alt="movies__poster"
          />
        </div>
        <div class="movies__meta">
          <h2 class="movies__title">Monster Hunter</h2>
          <div class="movies__desc">
            <span class="movies__desc-genres">Drama, Action</span>|
            <span class="movies__desc-release-year">2020</span>
            <span class="movies__vote">8.3</span>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
