<div class="modal-overlay is-hidden">
    <div class="team-modal">
        <button type="button" class="team-modal__button">
            <svg class="close-icon" width="25" height="25">
                <use href="/src/images/symbol.svg#icon-close"></use>
            </svg>
        </button>
        <div class="symbol-wrapper">
            <svg class="footer-icon" width="14" height="12.88">
                <use href="/src/images/symbol.svg#heart"></use>
            </svg>
            <h2 class="team-title">Майстри Excel</h2>
            <svg class="footer-icon" width="14" height="12.88">
                <use href="/src/images/symbol.svg#heart"></use>
            </svg>
        </div>

        <table class="team-table" id="table">
            <tr class="team-table__first-row">
                <td class="td_img">
                    <svg class="close-icon" width="30" height="30">
                        <use href="/src/images/symbol.svg#icon-triangle"></use>
                    </svg>
                </td>
                <td class="td_a">A</td>
                <td class="td_b">B</td>
                <td class="td_c">C</td>
                <td class="td_d">D</td>
                <td class="td_e">E</td>
                <td class="td_f">F</td>
                <td class="td_g">G</td>
                <td class="td_h">H</td>
                <td class="td_i">I</td>
                <td class="td_j">J</td>
                <td class="td_k">K</td>
                <td class="td_l">L</td>
            </tr>
            <tr class="team-table__second-row">
                <td class="td-number">1</td>
                <td>Picture</td>
                <td class="td-name">Name</td>
                <td>Position</td>
                <td>Favourite genre</td>
                <td></td>
                <td class="orange">GitHub</td>
                <td class="orange">LinkedIn</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <!-- Team Lead -->
            <tr class="team-table__third-row">
                <td class="td-number">2</td>
                <td class="image">
                    <img src="./images/team/yura.jpg" width="106" />
                </td>
                <td class="td-name">Yuriy Koshyk</td>
                <td class="td-info">Team Lead</td>
                <td class="td-info">Thriller movies</td>
                <td class="empthy"></td>
                <td class="td-info">
                    <a target="_blank" class="team-contact" href="https://github.com/yuriykosh">Link</a>
                </td>
                <td class="td-info">
                    <a target="_blank" class="team-contact" href="https://www.linkedin.com/in/yuriy-koshyk/">Link</a>
                </td>
                <td class="empthy"></td>
                <td class="empthy"></td>
                <td class="empthy"></td>
                <td class="empthy"></td>
                <td class="empthy"></td>
            </tr>

            <!-- Scrum -->
            <tr class="team-table__forth-row">
                <td class="td-number">3</td>
                <td class="image">
                    <img src="./images/team/ihor.jpg" width="106" />
                </td>
                <td class="td-name">Ihor Liutyk</td>
                <td class="td-info">Scrum master</td>
                <td class="td-info">Depression</td>
                <td class="empthy"></td>
                <td class="td-info">
                    <a target="_blank" class="team-contact" href="https://github.com/Wrismynd">Link</a>
                </td>
                <td class="td-info">
                    <a target="_blank" class="team-contact" href="https://www.linkedin.com/in/ihor-liutyk/">Link</a>
                </td>
                <td class="empthy"></td>
                <td class="empthy"></td>

                <td class="empthy"></td>
                <td class="empthy"></td>
                <td class="empthy"></td>
            </tr>

            <!-- Developer 1 -->
            <tr class="team-table__fifth-row">
                <td class="td-number">4</td>
                <td class="image">
                    <img src="./images/team/angelina.jpg" width="106" />
                </td>
                <td class="td-name">Angelina Pysanyuk</td>
                <td class="td-info">Developer</td>
                <td class="td-info">Comedy Movies</td>
                <td class="empthy"></td>
                <td class="td-info">
                    <a target="_blank" class="team-contact" href="https://github.com/Angelina-Pysanyuk">Link</a>
                </td>
                <td class="td-info">
                    <a target="_blank" class="team-contact"
                        href="https://www.linkedin.com/in/angelina-pysaniuk/">Link</a>
                </td>
                <td class="empthy"></td>
                <td class="empthy"></td>

                <td class="empthy"></td>
                <td class="empthy"></td>
                <td class="empthy"></td>
            </tr>

            <!-- Developer 2 -->
            <tr class="team-table__sixth-row">
                <td class="td-number">5</td>
                <td class="image">
                    <img src="./images/team/elena.jpg" width="106" />
                </td>
                <td class="td-name">Elena Bagriy</td>
                <td class="td-info">Developer</td>
                <td class="td-info">Comedy Movies</td>
                <td class="empthy"></td>
                <td class="td-info">
                    <a target="_blank" class="team-contact" href="https://github.com/ElenaBagriy">Link</a>
                </td>
                <td class="td-info">
                    <a target="_blank" class="team-contact" href="https://www.linkedin.com/in/elena-bagriy">Link</a>
                </td>

                <td class="empthy"></td>
                <td class="empthy"></td>
                <td class="empthy"></td>
                <td class="empthy"></td>
                <td class="empthy"></td>
            </tr>

            <!-- Developer 3 -->
            <tr class="team-table__twelveth-row">
                <td class="td-number">6</td>
                <td class="image">
                    <img src="./images/team/vlad.jpg" width="106" />
                </td>
                <td class="td-name">Vladislav Tyaglo</td>
                <td class="td-info">Developer</td>
                <td class="td-info">Thriller movies</td>
                <td class="empthy"></td>
                <td class="td-info">
                    <a target="_blank" class="team-contact" href="https://github.com/vlad-tyaglo">Link</a>
                </td>
                <td class="td-info">
                    <a target="_blank" class="team-contact" href="https://www.linkedin.com/in/vladislav-tyaglo/">Link</a>
                </td>
                <td class="empthy"></td>
                <td class="empthy"></td>
                <td class="empthy"></td>
                <td class="empthy"></td>
                <td class="empthy"></td>
            </tr>

            <!-- Developer 4 -->
            <tr class="team-table__eighth-row">
                <td class="td-number">7</td>
                <td class="image">
                    <img src="./images/team/olya.jpg" width="106" />
                </td>
                <td class="td-name">Olha Budnik</td>
                <td class="td-info">Developer</td>
                <td class="td-info">Sci-Fi movies</td>
                <td class="empthy"></td>
                <td class="td-info">
                    <a target="_blank" class="team-contact" href="https://github.com/Olabudnik">Link</a>
                </td>
                <td class="td-info">
                    <a target="_blank" class="team-contact"
                        href="https://www.linkedin.com/in/olha-budnik-b0b14a235/">Link</a>
                </td>
                <td class="empthy"></td>
                <td class="empthy"></td>
                <td class="empthy"></td>
                <td class="empthy"></td>
                <td class="empthy"></td>
            </tr>

            <!-- Developer 5 -->
            <tr class="team-table__nineth-row">
                <td class="td-number">8</td>
                <td class="image">
                    <img src="./images/team/olena.jpg" width="106" />
                </td>
                <td class="td-name">Olena Zamyslova</td>
                <td class="td-info">Developer</td>
                <td class="td-info">Comedy Movies</td>
                <td class="empthy"></td>
                <td class="td-info">
                    <a target="_blank" class="team-contact" href="https://github.com/olenazamyslova">Link</a>
                </td>
                <td class="td-info">
                    <a target="_blank" class="team-contact"
                        href="https://www.linkedin.com/in/olena-zamyslova-39325b22a/">Link</a>
                </td>
                <td class="empthy"></td>
                <td class="empthy"></td>
                <td class="empthy"></td>
                <td class="empthy"></td>
                <td class="empthy"></td>
            </tr>

            <!-- Developer 6 -->
            <tr class="team-table__tenth-row">
                <td class="td-number">9</td>
                <td class="image">
                    <img src="./images/team/olena_d.jpg" width="106" />
                </td>
                <td class="td-name">Olena Denysenko</td>
                <td class="td-info">Developer</td>
                <td class="td-info">Detective Movies</td>
                <td class="empthy"></td>
                <td class="td-info">
                    <a target="_blank" class="team-contact" href="https://github.com/dehelena">Link</a>
                </td>
                <td class="td-info">
                    <a target="_blank" class="team-contact"
                        href="https://www.linkedin.com/in/olena-denysenko-a2b799130/">Link</a>
                </td>
                <td class="empthy"></td>
                <td class="empthy"></td>
                <td class="empthy"></td>
                <td class="empthy"></td>
                <td class="empthy"></td>
            </tr>

            <!-- Developer 7 -->
            <!-- <tr class="team-table__eleventh-row">
                <td class="td-number">10</td>
                <td class="image">
                    <img src="./images/team/julia.png" width="106" />
                </td>
                <td class="td-name">Julia Dubkova</td>
                <td class="td-info">Developer</td>
                <td class="td-info">Genre</td>
                <td class="empthy"></td>
                <td class="td-info">
                    <a target="_blank" class="team-contact" href="https://github.com">Link</a>
                </td>
                <td class="td-info">
                    <a target="_blank" class="team-contact" href="https://www.linkedin.com">Link</a>
                </td>
                <td class="empthy"></td>
                <td class="empthy"></td>
                <td class="empthy"></td>
                <td class="empthy"></td>
                <td class="empthy"></td>
            </tr> -->

            <!-- Developer 8 -->

            <!-- <tr class="team-table__seventh-row">
                <td class="td-number">11</td>
                <td class="image">
                    <img src="./images/team/veronika.jpg" width="106" />
                </td>
                <td class="td-name">Veronika Soloviova</td>
                <td class="td-info">Developer</td>
                <td class="td-info">Genre</td>
                <td class="empthy"></td>
                <td class="td-info">
                    <a target="_blank" class="team-contact" href="https://github.com/VeronicaSoloviova">Link</a>
                </td>
                <td class="td-info">
                    <a target="_blank" class="team-contact" href="https://github.com/VeronicaSoloviova">Link</a>
                </td>
                <td class="empthy"></td>
                <td class="empthy"></td>
                <td class="empthy"></td>
                <td class="empthy"></td>
                <td class="empthy"></td>
            </tr> -->

            <!-- Developer 9 -->
            <!-- <tr class="team-table__thirteenth-row">
                <td class="td-number">12</td>
                <td class="image">
                    <img src="./images/team/pavlo.jpeg" width="106" />
                </td>
                <td class="td-name">Pavlo Golotyuk</td>
                <td class="td-info">Developer</td>
                <td class="td-info">Genre</td>
                <td class="empthy"></td>
                <td class="td-info">
                    <a target="_blank" class="team-contact" href="https://github.com">Link</a>
                </td>
                <td class="td-info">
                    <a target="_blank" class="team-contact" href="https://www.linkedin.com">Link</a>
                </td>
                <td class="empthy"></td>
                <td class="empthy"></td>
                <td class="empthy"></td>
                <td class="empthy"></td>
                <td class="empthy"></td>
            </tr> -->
        </table>
    </div>
</div>