.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  transition: opacity var(--transition-dur-and-func),
    visibility var(--transition-dur-and-func);

  &.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
}
