.btn-to-top {

    display: none;
}

.btn-to-top--visible {
    display: block;
    position: fixed;
    right: 50px;
    bottom: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--main-color);
    opacity: 0.9;
    font-size: 49px;
    color: black;

    transition-property: opacity, scale;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    :focus {
       scale: 1.1;     
       opacity: 1;
    }
}

span.material-icons-round {
    font-size: 49px;
    color: var(--accent);
}