.movie-modal {
    height: 100%;
        width: 280px;
        background-color: var(--white);
        margin-top: 20px;
        padding: 46px 20px;
        transition: transform 0.3s;
        position: fixed;
        top: 50%;
        left: 50%;
        overflow: auto;
        transform: translate(-50%, -50%) scale(1);
        line-height: 1.67;
    
        @media screen and (min-width: 768px) {
            // width: 704px;
            // padding: 40px 72px 40px 36px;
            width: 704px;
            margin-top: 80px;
        }
    
        @media screen and (min-width: 1280px) {
            width: 806px;
            padding: 40px 12px;
        }
    }
    
    .movie-modal__close-btn {
        display: flex;
        position: absolute;
        right: 8px;
        top: 8px;
        padding: 0;
    
        cursor: pointer;
    
        background-color: var(--white);
        border: none;
    }
    
    .movie-modal__imgBox {
        position: relative;
    }
    
    .movie-modal__video-btn {
        position: absolute;
        width: 100%;
        height: 100%;
    
        display: flex;
        align-items: center;
        justify-content: center;
    
        fill: rgba(255, 107, 8, 0.8);
        background-color: transparent;
        border: none;
        cursor: pointer;
        transition: background-color var(--transition-dur-and-func);
    }
    
    .movie-modal__video-btn:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }
    
    .movie-modal__imgBox__img {
        border-radius: 5px;
    }
    
    .movie-modal__title {
        margin-bottom: 20px;
        margin-top: 20px;
    
        text-transform: uppercase;
        font-size: 20px;
        line-height: 1.15;
    }
    
    .movie-modal__info {
        margin-bottom: 20px;
    }
    
    .movie-modal__info__item {
        display: flex;
    
        font-size: 12px;
        font-weight: 500;
        line-height: 1.33;
    
        &:not(:last-child) {
            padding-bottom: 8px;
        }
    }
    
    .movie-modal__info__item__attribute {
        color: var(--light-grey-text-color);
        min-width: 108px;
    }
    
    .movie-modal__info__item__value {
        .movie-modal__info__item__value__marker {
            padding: 1px 10px;
            border-radius: 5px;
            color: var(--white);
            background-color: var(--text-color--accent);
        }
    
        .movie-modal__info__item__value-slash {
            margin-left: 4px;
    
            color: var(--light-grey-text-color);
        }
    
        .movie-modal__info__item__value__marker--grey {
            padding: 1px 4px;
            border-radius: 5px;
    
            background-color: var(--bg-color--light-grey);
        }
    }
    
    .movie-modal__about {
        margin-bottom: 20px;
    }
    
    .movie-modal__about-title {
        padding-bottom: 8px;
    
        text-transform: uppercase;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.33;
    }
    
    .movie-modal__about-desc {
        font-size: 12px;
        font-weight: 500;
    }
    
    .movie-modal__button {
        display: flex;
        justify-content: space-between;
    }
    
    .movie-modal__button__item {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    
        border-radius: 5px;
        border: 1px solid #000;
        width: 110px;
        height: 44px;
        //   white-space: pre-wrap;
    
        text-transform: uppercase;
        font-size: 12px;
        line-height: 1.33;
    
        background-color: #fff;
    
        transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
        cursor: pointer;
    
        &:hover,
        &:focus {
            background-color: #ff6b08;
            color: #fff;
            border: 1px solid #ff6b08;
        }
}
