.tui-pagination .tui-is-selected,
.tui-pagination strong {
  background: var(--accent) !important;
  border-color: var(--accent) !important;
  border-radius: 5px;
  width: 40px !important;
  height: 40px !important;
  // vertical-align: middle !important;
}

.tui-pagination .tui-page-btn {
  flex-direction: row !important;
}

.tui-pagination .tui-page-btn {
  width: 40px !important;
  height: 40px !important;
  color: #333;
  // vertical-align: middle;
  border: none !important;
  font-weight: 500 !important;
  line-height: 2 !important;
  border-radius: 5px !important;

  transition: background-color var(--transition-dur-and-func) !important;
}

.tui-pagination .tui-page-btn:hover,
.tui-pagination .tui-page-btn:focus {
  background-color: var(--accent) !important;
  color: var(--white) !important;
}

.tui-pagination .tui-first,
.tui-pagination .tui-prev,
.tui-pagination .tui-next,
.tui-pagination .tui-last,
.tui-pagination .tui-prev-is-ellip,
.tui-pagination .tui-next-is-ellip {
  height: 40px !important;
  line-height: 36px !important;
  vertical-align: middle !important;
  color: var(--black) !important;
}

.tui-pagination .tui-first,
.tui-pagination .tui-prev,
.tui-pagination .tui-next,
.tui-pagination .tui-last,
.tui-pagination .tui-prev-is-ellip,
.tui-pagination .tui-next-is-ellip {
  height: 40px !important;
  line-height: 36px !important;
  vertical-align: middle !important;
  color: var(--black) !important;
}

.tui-pagination .tui-prev-is-ellip .tui-first-child,
.tui-pagination .tui-next-is-ellip .tui-last-child {
  line-height: 2 !important;
}

.tui-pagination .tui-prev {
  display: none !important;
}

.tui-pagination .tui-next {
  display: none !important;
}

// .tui-ico-next,
// .tui-ico-prev {
// display: none !important;
// }

// .tui-page-btn
//   .tui-prev-is-ellip
//   .tui-first-child
//   .tui-pagination
//   .tui-ico-ellip:hover,
// .tui-page-btn
//   .tui-prev-is-ellip
//   .tui-first-child
//   .tui-pagination
//   .tui-ico-ellip:focus {
//   color: var(--white) !important;
// }

.tui-page-btn .tui-next-is-ellip .tui-last-child .tui-ico-ellip {
  fill: var(--white) !important;
}

.tui-page-btn .tui-prev-is-ellip .tui-first-child:hover > .tui-ico-ellip,
.tui-page-btn .tui-next-is-ellip .tui-last-child:hover > .tui-ico-ellip,
.tui-page-btn .hide-first:hover > .tui-ico-first,
.tui-page-btn .hide-last:hover > .tui-ico-last {
  fill: var(--white);
}

.tui-pagination .tui-ico-ellip {
  margin-top: 18px !important;
}

.tui-pagination .tui-ico-ellip:hover {
  color: var(--white) !important;
}
