// ___________header

.header {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/header-main/bg-mobile.jpeg);
    background-color: var(--black);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  
    @media screen and (min-device-paxel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/header-main/bg-mobile@2x.jpeg);
      }
  
    @media screen and (min-width: 768px) {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/header-main/bg-tablet.jpeg);
  
      @media screen and (min-device-paxel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/header-main/bg-tablet@2x.jpeg);
      }
    }
  
    @media screen and (min-width: 1280px) {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/header-main/bg-desktop.jpg);
  
      @media screen and (min-device-paxel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/header-main/bg-desktop@2x.jpeg);
      }
    }
  }

  .header-library {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/header-library/bg-mobile.jpeg);
    background-color: var(--black);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  
    @media screen and (min-device-paxel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/header-library/bg-mobile@2x.jpeg);
      }
      
    @media screen and (min-width: 768px) {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/header-library/bg-tablet.jpeg);
  
      @media screen and (min-device-paxel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/header-library/bg-tablet@2x.jpeg);
      }
    }
  
    @media screen and (min-width: 1280px) {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/header-library/bg-desktop.jpeg);

      @media screen and (min-device-paxel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/header-library/bg-desktop@2x.jpeg);
      }
    }
  }
  
  .header__container {
    padding-top: 40px;
    padding-bottom: 90px;
  
    @media screen and (min-width: 768px) {
      padding-bottom: 81px;
    }
  
    @media screen and (min-width: 1280px) {
      padding-bottom: 80px;
    }
  }

  .header__library__container {
    padding-top: 40px;
    padding-bottom: 62px;
  }
  
  .navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 54px;
  
    @media screen and (min-width: 768px) {
      margin-bottom: 40px;
    }
  
    @media screen and (min-width: 1280px) {
      margin-bottom: 41px;
    }
  }
  
  .logo {
    height: 24px;
  
    @media screen and (min-width: 768px) {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }
  }
  
  .logo__name {
    display: none;
  
    @media screen and (min-width: 768px) {
      display: block;
      @include font(30px, 500, 35.16px);
      color: var(--text-color--bright);
    }
  }
  
  .site-nav {
    display: flex;
    align-items: center;
    gap: 40px;
  
    @media screen and (min-width: 768px) {
      gap: 39px;
    }
  }
  
  .site-nav__link {
    position: relative;
    @include font(12px, 500, 14.06px);
    text-transform: uppercase;
    color: var(--text-color--bright);
    display: block;
    transition: color var(--transition-dur-and-func);
  
    &:hover  {
      color: var(--red);
    }
  }
  
  .site-nav__link.is-active::after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 3px;
      background-color: var(--red);
  }
  
  .form {
    position: relative;
    margin: 0 auto;
    max-width: 280px;
    height: 20px;
    @include font(14px, 400, 16.41px);
  
    @media screen and (min-width: 768px) {
      min-width: 336px;
    }
    @media screen and (min-width: 1280px) {
      min-width: 394px;
    }
  }
  
  .form__input {
    width: 100%;
    padding-bottom: 4px;
    background-color: transparent;
    border: none;
    border-bottom: 0.5px solid var(--white);
    color: var(--text-color--bright);
  
    &::placeholder {
      color: var(--text-color--bright);
    }
  
    &:focus,
    &:active {
      outline-color: var(--accent);
    }
  }
  
  .form__button {
    position: absolute;
    right: 0;
    height: 100%;
    width: 20px;
    background-color: transparent;
    border: none;
  }
  
  .form__icon {
    transition: scale var(--transition-dur-and-func);
    &:hover,
    &:focus {
      scale: 1.2;
    }
  }
  
  .header__list {
    display: flex;
    justify-content: center;
    gap: 20px;

    @media screen and (min-width: 768px) {
      gap: 32px;
    }

    @media screen and (min-width: 1280px) {
      gap: 16px;
    }
  }

  .header__button {
    width: 129.53px;
    padding-top: 14px;
    padding-bottom: 12px;
    border: 1px solid var(--white);
    border-radius: 5px;
    background-color: transparent;
    color: var(--text-color--bright);
    @include font(12px, 500, 16px);
    transition: border-color var(--transition-dur-and-func), background-color var(--transition-dur-and-func);

    &:hover {
      border-color: var(--accent);
      cursor: pointer;
    }

    &:hover {
      background-color: var(--accent);
      cursor: pointer;
    }

    @media screen and (min-width: 768px) {
      width: 152px;
      padding-top: 13px;
      padding-bottom: 13px;
    }

    @media screen and (min-width: 1280px) {
      width: 148px;
      padding-top: 13.36px;
      padding-bottom: 11.45px;
    }
  }